---
import Layout from "@layouts/Layout.astro";
---

<Layout title="AURA Beauty Salon | Página no encontrada">
  <main id="error-main">
    <section class="error-section px-4" aria-labelledby="error-title">
      <h1 class="error-title" id="error-title">
        ¡Ups!
      </h1>
      <p class="error-subtitle">Algo salió mal.</p>
      <p class="error-text">La página que buscas no existe o fue movida.</p>
      <a class="white-button hover-shadowless" href="/" title="Volver al inicio de AURA Beauty Salon">
        Volver al inicio
      </a>
    </section>
  </main>
</Layout>
