---
import "../css/global.css";
import "../css/styles.css";

interface ILayoutProps {
  title: string;
}

const { title } = Astro.props as ILayoutProps;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content="AURA Beauty Salon en Calle 70, San Francisco. Balayage, uñas, pestañas, tratamientos capilares, curly hair y buen café en Ciudad de Panamá. Agenda tu cita." />
    <meta name="author" content="AURA Beauty Salon" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#AE9380" />
    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="AURA Beauty Salon en Calle 70, San Francisco. Balayage, uñas, pestañas, tratamientos capilares, curly hair y buen café en Ciudad de Panamá. Agenda tu cita." />
    <meta property="og:locale" content="es_PA" />
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Preconnect for Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Google Fonts (Belleza & Open Sans) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.onload=null;this.media='all';"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet"
      />
    </noscript>
    <!-- Font Awesome (non-blocking load) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      media="print"
      onload="this.onload=null;this.media='all';"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
    </noscript>
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>